div .Filter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin: 0;
    padding: 0;
}

.sort-by, .button-container {
    display: flex;
    justify-content: center;
}
.sort-by {
    flex-direction: column;
    justify-content: center;
}

span {
    font-size: 1em;
    text-align: center;
}

.button-container{
    flex-direction: row;
    flex-wrap: wrap;
    margin: 10px auto;
    width: 100%;
}

.price{
    margin-bottom: 40px;
}

input[type=button] {
    margin: 0 10px;
    padding: 10px;
    font-family: "Playfair Display", serif;
    font-size: 1em;;
    font-weight: bold;
    color: white;
    background-color: #3F4E4F;
    border: 3px solid white;
    border-radius: 15px;
}

input[type=button]:hover {
    color: #3F4E4F;
    background-color: white;
    border: 3px solid #3F4E4F;
    font-weight: bold;
}

input[type=button].active {
    color: #3F4E4F;
    background-color: white;
    border: 3px solid #3F4E4F;
    font-weight: bold;
}